:root {
    --pattern-color: #4EA0FF;
    --highlight-text: #FFff00;
    --thead-color: #20A9E5;
    --tr-color: #B1E5F2;

}
body{
    margin: 0;
    padding: 0;

}
body p {
    margin: 0;
}
#bg-pattern {
    width: 100%;
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-color: var(--pattern-color);
    height: 8rem;
    padding-left: 0.7rem;
}

.logo {
    width: 10rem;
    margin-top: 4.5rem;
}
#author{
    color: #4EA0FF;

}
h1 
{font-size: 1.8rem;
    margin-bottom: 0.5rem;
}
.photo{
    margin: 0.5rem;
}

.description {
    font-size: 0.8rem;
}
.img-wrapper {
    margin-top: 1.5rem;
}
.main-wrapper {
margin: 0.5rem;
margin-top: 1.5rem;
}
thead {
    background-color: var(--thead-color);
    color: white;
}
table {
    border-spacing: 0;
    text-align: left;
    width: 100%;
    margin-bottom: 2rem;
}
.skyblue {
    background-color: var(--tr-color);
}
.suggested {
margin: 0.5rem;
}
.bold {
    font-weight: bold;
}
.sugg-img-1 {
    background-image: url(../img/monitor.jpg);
    width: 312px;
    height: 207px;
    color: white;
    
}
.sugg-img-2 {
    background-image: url(../img/graph.jpg);
    width: 312px;
    height: 207px;
    color: white;
    
}
.img-text{
    margin-left: 1rem;
    margin-top: 1rem;
}